In [1]:
import pandas as pd 
import numpy as np

In [20]:
df = np.round(pd.read_csv('50_Startups.csv')[['R&D Spend','Administration','Marketing Spend','Profit']]/10000)

In [21]:
df

    R&D Spend  Administration  Marketing Spend  Profit
0        17.0            14.0             47.0    19.0
1        16.0            15.0             44.0    19.0
2        15.0            10.0             41.0    19.0
3        14.0            12.0             38.0    18.0
4        14.0             9.0             37.0    17.0
5        13.0            10.0             36.0    16.0
6        13.0            15.0             13.0    16.0
7        13.0            15.0             32.0    16.0
8        12.0            15.0             31.0    15.0
9        12.0            11.0             30.0    15.0
10       10.0            11.0             23.0    15.0
11       10.0             9.0             25.0    14.0
12        9.0            13.0             25.0    14.0
13        9.0            14.0             25.0    13.0
14       12.0            16.0             26.0    13.0
15       11.0            12.0             26.0    13.0
16        8.0            12.0             26.0    13.0
17        9.0            15.0             28.0    13.0
18        9.0            11.0             29.0    12.0
19        9.0            15.0              0.0    12.0
20        8.0            11.0             30.0    12.0
21        8.0            15.0             30.0    11.0
22        7.0            12.0             30.0    11.0
23        7.0            11.0             30.0    11.0
24        8.0            10.0             14.0    11.0
25        6.0            14.0             14.0    11.0
26        8.0            14.0             13.0    11.0
27        7.0            13.0             35.0    11.0
28        7.0            18.0             12.0    10.0
29        7.0            15.0             11.0    10.0
30        6.0            12.0              9.0    10.0
31        6.0            15.0              9.0    10.0
32        6.0            13.0              5.0    10.0
33        6.0            10.0             21.0    10.0
34        5.0            16.0             21.0    10.0
35        5.0             9.0             21.0    10.0
36        3.0            13.0             20.0     9.0
37        4.0             5.0             20.0     9.0
38        2.0             7.0             19.0     8.0
39        4.0             8.0             17.0     8.0
40        3.0            12.0             17.0     8.0
41        3.0             8.0             16.0     8.0
42        2.0            10.0             15.0     7.0
43        2.0            13.0              4.0     7.0
44        2.0            15.0              3.0     7.0
45        0.0            12.0              0.0     6.0
46        0.0            12.0             30.0     5.0
47        0.0            14.0              0.0     4.0
48        0.0             5.0              0.0     4.0
49        0.0            12.0              5.0     1.0

In [23]:
import random

df_nan_random = df.copy()

for col_name in df_nan_random.columns:
    nan_indices = random.sample(range(len(df_nan_random)), 10)
    df_nan_random.loc[nan_indices, col_name] = np.nan

df_nan_random

    R&D Spend  Administration  Marketing Spend  Profit
0        17.0             NaN             47.0    19.0
1        16.0             NaN             44.0    19.0
2        15.0            10.0             41.0     NaN
3         NaN            12.0             38.0    18.0
4        14.0             9.0             37.0    17.0
5        13.0            10.0              NaN    16.0
6        13.0             NaN             13.0     NaN
7        13.0            15.0             32.0    16.0
8        12.0            15.0              NaN     NaN
9        12.0            11.0             30.0    15.0
10       10.0            11.0              NaN    15.0
11       10.0             9.0             25.0    14.0
12        9.0            13.0             25.0    14.0
13        9.0            14.0             25.0    13.0
14       12.0            16.0             26.0    13.0
15       11.0            12.0             26.0    13.0
16        NaN            12.0             26.0    13.0
17        9.0             NaN              NaN     NaN
18        9.0            11.0             29.0    12.0
19        NaN            15.0              0.0    12.0
20        8.0            11.0              NaN    12.0
21        8.0             NaN             30.0     NaN
22        7.0            12.0             30.0    11.0
23        7.0            11.0             30.0    11.0
24        8.0            10.0             14.0    11.0
25        NaN            14.0              NaN    11.0
26        8.0            14.0              NaN    11.0
27        7.0            13.0              NaN     NaN
28        7.0             NaN             12.0    10.0
29        7.0            15.0             11.0    10.0
30        6.0            12.0              9.0    10.0
31        6.0             NaN              9.0    10.0
32        6.0            13.0              5.0    10.0
33        6.0            10.0             21.0     NaN
34        NaN            16.0             21.0    10.0
35        5.0             9.0             21.0    10.0
36        3.0            13.0             20.0     9.0
37        NaN             NaN             20.0     9.0
38        NaN             7.0             19.0     8.0
39        NaN             8.0              NaN     NaN
40        3.0            12.0             17.0     8.0
41        3.0             NaN             16.0     NaN
42        2.0             NaN             15.0     7.0
43        NaN            13.0              4.0     7.0
44        2.0            15.0              3.0     NaN
45        0.0            12.0              0.0     6.0
46        NaN            12.0             30.0     5.0
47        0.0            14.0              0.0     4.0
48        0.0             5.0              0.0     4.0
49        0.0            12.0              NaN     1.0