In [1]:
import pandas as pd 
import numpy as np

In [20]:
df = np.round(pd.read_csv('50_Startups.csv')[['R&D Spend','Administration','Marketing Spend','Profit']]/10000)

In [21]:
df

    R&D Spend  Administration  Marketing Spend  Profit
0        17.0            14.0             47.0    19.0
1        16.0            15.0             44.0    19.0
2        15.0            10.0             41.0    19.0
3        14.0            12.0             38.0    18.0
4        14.0             9.0             37.0    17.0
5        13.0            10.0             36.0    16.0
6        13.0            15.0             13.0    16.0
7        13.0            15.0             32.0    16.0
8        12.0            15.0             31.0    15.0
9        12.0            11.0             30.0    15.0
10       10.0            11.0             23.0    15.0
11       10.0             9.0             25.0    14.0
12        9.0            13.0             25.0    14.0
13        9.0            14.0             25.0    13.0
14       12.0            16.0             26.0    13.0
15       11.0            12.0             26.0    13.0
16        8.0            12.0             26.0    13.0
17        9.0            15.0             28.0    13.0
18        9.0            11.0             29.0    12.0
19        9.0            15.0              0.0    12.0
20        8.0            11.0             30.0    12.0
21        8.0            15.0             30.0    11.0
22        7.0            12.0             30.0    11.0
23        7.0            11.0             30.0    11.0
24        8.0            10.0             14.0    11.0
25        6.0            14.0             14.0    11.0
26        8.0            14.0             13.0    11.0
27        7.0            13.0             35.0    11.0
28        7.0            18.0             12.0    10.0
29        7.0            15.0             11.0    10.0
30        6.0            12.0              9.0    10.0
31        6.0            15.0              9.0    10.0
32        6.0            13.0              5.0    10.0
33        6.0            10.0             21.0    10.0
34        5.0            16.0             21.0    10.0
35        5.0             9.0             21.0    10.0
36        3.0            13.0             20.0     9.0
37        4.0             5.0             20.0     9.0
38        2.0             7.0             19.0     8.0
39        4.0             8.0             17.0     8.0
40        3.0            12.0             17.0     8.0
41        3.0             8.0             16.0     8.0
42        2.0            10.0             15.0     7.0
43        2.0            13.0              4.0     7.0
44        2.0            15.0              3.0     7.0
45        0.0            12.0              0.0     6.0
46        0.0            12.0             30.0     5.0
47        0.0            14.0              0.0     4.0
48        0.0             5.0              0.0     4.0
49        0.0            12.0              5.0     1.0

In [35]:
x = df.drop(columns = ['Profit'])
y = df.Profit
y = pd.DataFrame(y)
type(y)

pandas.core.frame.DataFrame

In [37]:
import random

df_nan_random = x.copy()

for col_name in df_nan_random.columns:
    nan_indices = random.sample(range(len(df_nan_random)), 10)
    df_nan_random.loc[nan_indices, col_name] = np.nan

df_nan_random.sample()

    R&D Spend  Administration  Marketing Spend
21        8.0            15.0             30.0

In [41]:
rd_mean = df_nan_random['R&D Spend'].mean()
adm_mean = df_nan_random['Administration'].mean()
mark_mean = df_nan_random['Marketing Spend'].mean()

New data frame with missing values & mean calculated

In [46]:
df_nan_random.head()

   R&D Spend  Administration  Marketing Spend
0        NaN            14.0             47.0
1       16.0             NaN              NaN
2       15.0            10.0              NaN
3       14.0             NaN             38.0
4        NaN             9.0              NaN

In [49]:
df0 = pd.DataFrame()

df0['rd'] = df_nan_random['R&D Spend'].fillna(rd_mean)
df0['adm'] = df_nan_random['Administration'].fillna(adm_mean)
df0['mark'] = df_nan_random['Marketing Spend'].fillna(mark_mean)

In [51]:
df0.head(10)

       rd   adm    mark
0   7.025  14.0  47.000
1  16.000  12.1  19.325
2  15.000  10.0  19.325
3  14.000  12.1  38.000
4   7.025   9.0  19.325
5  13.000  10.0  36.000
6  13.000  15.0  13.000
7   7.025  15.0  32.000
8   7.025  15.0  31.000
9  12.000  11.0  19.325

df0 is the step 0 where the missing values is filled with mean of the column

In [77]:
df_1 = df_nan_random['R&D Spend']
df_1.head(2)

0     NaN
1    16.0
Name: R&D Spend, dtype: float64

In [78]:
df_2 = df0[['adm','mark']]
df_2.head(2)

    adm    mark
0  14.0  47.000
1  12.1  19.325

In [79]:
df_3  = pd.DataFrame()

In [80]:
df_3 = pd.concat([df_1, df_2], axis=1)
df_3.head(3)

   R&D Spend   adm    mark
0        NaN  14.0  47.000
1       16.0  12.1  19.325
2       15.0  10.0  19.325

In [81]:
from sklearn.linear_model import LinearRegression

# Prepare training data (rows where 'R&D Spend' is not null)
train_mask = df_3['R&D Spend'].notnull()
X_train = df_3.loc[train_mask, ['adm', 'mark']]
y_train = df_3.loc[train_mask, 'R&D Spend']

# Prepare test data (rows where 'R&D Spend' is null)
test_mask = df_3['R&D Spend'].isnull()
X_test = df_3.loc[test_mask, ['adm', 'mark']]

# Fit linear regression model
lr = LinearRegression()
lr.fit(X_train, y_train)

# Predict missing values
predicted_rd = lr.predict(X_test)

# Fill missing values in df_3['R&D Spend']
df_3.loc[test_mask, 'R&D Spend'] = predicted_rd

df_3.head(10)

   R&D Spend   adm    mark
0  14.497095  14.0  47.000
1  16.000000  12.1  19.325
2  15.000000  10.0  19.325
3  14.000000  12.1  38.000
4   6.155245   9.0  19.325
5  13.000000  10.0  36.000
6  13.000000  15.0  13.000
7  11.442865  15.0  32.000
8  11.212887  15.0  31.000
9  12.000000  11.0  19.325